
form {
    display: flex;
    flex-direction: column;
    padding:0 auto;
    max-width: 400px;
    border: 1px solid black;
    padding: 5px;
    margin: 0 auto;
}

form > * {
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 5px 10px;
    margin-bottom: 5px;
}